
header {
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 99;
}

header a:hover {
  color: black;
}

.main {
  margin-top: 30px; 
}


header {
  text-align: center;
}

body { 
  font-family: 'Lato', sans-serif;
  line-height: 1.2;
  font-size: 1em;
}

.whatis {
  background-color: white;
}

#definition {
  display: none;
}

button {
  cursor: pointer;
  margin-bottom: 20px;
}

.reviews-container {
  position: relative;
}

.text {
  position: absolute;
  width: 90%;
  top: 5px;
}

.testify {
  background-color: white;
}

.review-wrap {
  min-height: 30vw;
}

img {
  max-width: 100%;
}

.bg-img {
  padding-bottom: 50%;
  background-size: cover;
  text-align: left;
  position: relative;
}

.kirin {
  padding-top: 10%;
  background-image: url(../img/kirin.jpg);
  margin-bottom: 25px;
}
.candles {
  padding-top: 10%;
  background-image: url(../img/candles.jpg);
  margin-bottom: 25px;

}
.succulents {
  padding-top: 10%;
  background-image: url(../img/succulents.jpg);
}

.content {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 1400px;
  background-color: lightgray;
}

.header-content {
  background-color: lightgrey;
  text-align: center;
}

h1 {
  font-size: 40px;
  background-color: tan;
}

.top-content {
  text-align: center;
}

.bottom-content {
  background-color: rgb(70, 241, 99);
  text-align: center;
}




/* ///////////// */
/* media queries */
/* ///////////// */

@media(min-width: 769px) {

  h1 {
    background-color: rgb(151, 122, 84);
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .flex-col {
    width: 48%;
  }

  .kirin {
    background-position: bottom center;
  }

  .candles {
    background-position: bottom center;
  }

  .succulents {
    background-position: bottom right;
  }

}

@media(min-width: 1024px){
  h1 {
    background-color: rgb(136, 172, 218); 
    color: #333333;
  }
  .flex-col:hover {
      border: 5px solid #333333;
  }

}